:root {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
}

.header {
  background-color: #f4f9e2;
  min-height: 840px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header__aside {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 22%;
  background: #fff;
  z-index: 0;
}

.header__aside::before {
  content: "";
  position: absolute;
  top: 0;
  right: -160px;
  width: 249.2145%;
  box-sizing: content-box;
  padding-top: 168.1245%;
  height: 0;
  background: #edfdff;
  border-radius: 38%;
  transform: rotate(120deg);
  z-index: 1;
}

.header__aside_img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__head {
  margin-top: 38px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}

.header__head ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__head ul li:not(:first-child) {
  padding-left: 30px;
}

.header__head ul li a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #22356f;
}

.header__head ul li > a:hover,
a:focus {
  border-bottom: 1px solid #000;
  outline: none;
}

.header__logo {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62d0df;
  text-decoration: none;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: #62d0df;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.header__main {
  margin-top: 187px;
  margin-left: 179px;
}

.header__main_text {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62d0df;
}

.header__main_title {
  margin-top: 40px;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: -0.035em;
  max-width: 484px;
  color: #22356f;
}

.header__main_desc {
  margin-top: 50px;
  font-weight: 300;
  max-width: 484px;
  font-size: 24px;
  line-height: 42px;
  color: #22356f;
}

.header__main_btns {
  margin-top: 65px;
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: space-between;
}

.header__main_btns-orange {
  width: 150px;
  height: 50px;
  display: flex;
  background: #f9b640;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-size: 16px;
  line-height: 23px;
}

.header__main_btns-white {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fab63e;
  text-decoration: none;
}

main {
  box-sizing: border-box;
}

.thrive {
  min-height: 607px;
  background: #62d0df;
  display: grid;
  grid-template-columns: 65% 35%;
}

.thrive__second {
  background: url("christopher-campbell-40367.jpg") center center/cover
    no-repeat;
}

.thrive__first {
  padding: 150px 178px 0;
  box-sizing: border-box;
}

.thrive__first_title {
  font-family: Larsseit;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;

  color: #ffffff;
}

.thrive__first_text {
  margin-top: 75px;
  font-family: Larsseit;
  font-size: 24px;
  line-height: 35px;

  color: #ffffff;
}

.thrive__first_text span {
  font-size: 20px;
  font-weight: 300;
}

.about {
  min-height: 366px;
  box-sizing: border-box;
  padding-top: 150px;
  padding-left: 105px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.about__title {
  font-family: Larsseit;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0.06em;

  color: #22356f;
}

.about__desc {
  max-width: 592px;
  font-family: Larsseit;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  letter-spacing: 0.005em;

  color: #22356f;
}

.help {
  min-height: 350px;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.help__title {
  font-family: Larsseit;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 300;
  color: rgba(34, 53, 111, 0.5);
}

.help__wrapper {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.help__block {
  height: 260px;
  padding: 72px 50px;
}

.help__block_title {
  margin-top: 25px;

  font-family: Larsseit;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  padding-left: 20px;
  color: #ffffff;

  position: relative;
}

.help__block_title::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 10px;
  left: 0;
  border-radius: 50%;
  background: #e9b730;
}

.help__divider {
  height: 1px;
  background-color: #fff;
}

.help__block-first {
  background: #ffe2de;
}

.help__block-second {
  background: #c4e769;
}

.help__block-third {
  background: #62d0df;
}

.help__block-fourth {
  background: #0052c1;
}
