body {
  display: grid;
  grid-template-columns: [a] 100px [b] 65fr [c] 35fr [d];
  grid-template-rows: [first] 100px [second] minmax(300px, 1fr) [third] 150px [fourth];
  grid-template-areas:
    "logo menu menu"
    "news list nav"
    "foot foot nav";
  min-height: 100vh;
  margin: 0;
}

.menu,
.news,
.list,
.footer,
.nav,
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 2em;
  color: #000;
}

.menu {
  background: red;
}

.news {
  background: #ff6983;
  color: #fff;
}

.list {
  background: #ffd500;
}

.footer {
  background: #ffd500;
}

.nav {
  background: #434343;
  color: #fff;
}

.logo {
  background: #ffff00;
}

.footer {
  grid-area: foot;
}

.logo {
  grid-area: logo;
}

.menu {
  grid-area: menu;
}

.nav {
  grid-area: nav;
}

.list {
  grid-area: list;
}

.news {
  grid-area: news;
}
